<input id="filtro" type="text" name="filtro" [(ngModel)]="filtro" placeholder="Buscar prueba" class="filtro rounded-3 ps-4 py-2">


<div class="d-flex justify-content-between mb-5">
  <h1>Pruebas</h1>
  <button type="button"
          class="btn btn-nuevo"
          data-bs-toggle="modal"
          data-bs-target="#detalleModal"
          (click)="abrirNuevoItem()">
    <i class="bi bi-plus-lg"></i> Nueva prueba
  </button>
</div>

<app-listado [(itemSelId)]="this.itemSelId"
  [cabeceras]="['Título', 'Objetivo', 'Resultado esperado']" 
  [datos]="this.itemsFiltrados"
  [atributos]="['title', 'objective', 'expected_result']"
  [abrirModal]="true">
</app-listado>

<app-modal [title]="(nuevoItem && itemSelId === null) ? 'Nuevo caso de prueba' : 'Detalle caso de prueba'">
  @if (nuevoItem && itemSelId === null) {
    <app-prueba-detail [(listado)]="this.items" (listadoChange)="listadoChange($event)" [itemId]="null" [modo]="'nuevo'"></app-prueba-detail>
  } @else if (itemSelId) {
      @if (itemSelId && role !== 'tester') {
        <app-prueba-detail 
          [(listado)]="this.items" 
          (listadoChange)="listadoChange($event)" 
          [(itemId)]="itemSelId" 
          [modo]="'detalle'">
        </app-prueba-detail>
      }
      @if (itemSelId && role === 'tester') {
        <div class="p-4 text-center">
          <h4>No tienes permisos para editar este caso de prueba</h4>
        </div>
      }
  }
</app-modal>
<app-loading [show]="_spinnerService.loading() && loading"></app-loading>
