<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        @for (c of this.cabeceras(); track c) {
          <th scope="col">{{ c }}</th>
        }
      </tr>
    </thead>
    <tbody class="table-group-divider">
      @for (item of this.datos(); track item) {
        <tr (click)="this.seleccionarItem(item.id)" data-bs-toggle="modal" data-bs-target="#detalleModal">
          @for (a of this.atributos(); track a) {
            <td>{{ item[a] }}</td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
