<h1>Detalle Usuario</h1>

<form [formGroup]="formUsuario" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input id="nombre" type="text" name="nombre" class="form-control" formControlName="nombre">
    <div>
      @if (
            this.formUsuario.get('nombre').invalid && 
            (this.formUsuario.get('nombre').dirty || this.formUsuario.get('nombre').touched)
          ) 
      {
        <div class="invalid-feedback d-block m-0 pt-2">
          Debes rellenar el nombre.
        </div>
      }
    </div>
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Correo</label>
    <input id="email" type="email" name="email" class="form-control" formControlName="email">
    <div>
      @if (
            this.formUsuario.get('email').invalid && 
            (this.formUsuario.get('email').dirty || this.formUsuario.get('email').touched)
          ) 
      {
        <div class="invalid-feedback d-block m-0 pt-2">
          Debes escribir un correo válido.
        </div>
      }
    </div>
    
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input id="password" type="password" name="password" class="form-control" formControlName="password">
    <div>
      @if (
            this.formUsuario.get('password').invalid && 
            (this.formUsuario.get('password').dirty || this.formUsuario.get('password').touched)
          ) 
      {
        <div class="invalid-feedback d-block m-0 pt-2">
          Debes escribir una contraseña válida (al menos 6 caracteres).
        </div>
      }
    </div>
  </div>

  <div class="mb-3">
    <label for="rol" class="form-label">Rol</label>
    <select id="rol" name="rol" class="form-control" formControlName="rol">
      <option value="admin">Admin</option>
      <option value="manager">Manager</option>
      <option value="tester">Tester</option>
    </select>
    <div>
      @if (
            this.formUsuario.get('rol').invalid && 
            (this.formUsuario.get('rol').dirty || this.formUsuario.get('rol').touched)
          ) 
      {
        <div class="invalid-feedback d-block m-0 pt-2">
          Debes elegir un rol.
        </div>
      }
    </div>
  </div>

  <div class="d-flex justify-content-evenly mt-5">
    <button type="submit" class="btn btn-primary" (click)="volver()">Volver</button>
    <button type="button" class="btn btn-danger" (click)="borrar(this.usuarioId)">Borrar</button> 
    <button type="submit" class="btn btn-success" [disabled]="this.formUsuario.invalid">Enviar</button>
  </div>
  
</form>