/* You can add global styles to this file, and also import other style files */

@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";



body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  height: 100vh;
  --bs-body-font-family: Inter, var(--bs-font-sans-serif);
}
/* Lo dejo comentado porque el main se comportaba como le daba la gana si poníamos aquí flex.
app-root {
    height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
} */

h1 {
  font-size: 3rem;
  margin-bottom: 4rem;
}

th {
  background-color: rgba(var(--bs-light-rgb), 1) !important;
  border-top: 1px solid #D6D5DC;
  font-weight: 500;
  font-size: 2rem;
  padding: 2rem !important;
}

td {
  padding: 2rem !important;
  font-size: 2rem;
}

app-sidebar{
  display: flex;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
}

.layout {
  display: flex;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
}

/* Content ocupa el resto */
.content {
  flex-grow: 1;       /* se expande para ocupar todo el espacio restante */
  padding: 4rem 3rem;      /* opcional */
}

.nav-pills {
  --bs-nav-pills-link-active-bg: #C1CBFD;
}

.nav-link {
  font-size: 1.8rem;
  &:hover {
    background-color: #C1CBFD;
  }
}

.nav-link i {
  font-size: 2rem;
}