/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
  font-size: 62.5%;
  box-sizing: border-box;
  --light-bg-color: #f9f9fd;
  --border-light-color: #c9c7d1;
  --accent-bg-color: #c1cbfd;
  --logo-color: #737ade;
  --success-color: #00b13b;
  --fail-color: #ff0000;
}

body {
  --bs-body-font-family: Inter, var(--bs-font-sans-serif);
  --bs-body-font-size: 1.6rem;
  height: 100vh;
  max-height: 100vh;
}

app-root {
  height: 100vh;
  max-height: 100vh;
}

.layout {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding: 3rem;
}

/********************** LOGIN ******************************/

.fondoTestlab {
  background-color: var(--light-bg-color);
}

app-login {
  display: flex;
  height: 100vh;
  background-color: var(--light-bg-color);
}

#formWrapper {
  border-radius: 4rem;
  corner-shape: squircle;
  background-color: white;
}

#formLogin {
  width: 30rem;
  padding: 0.4rem;

  & button {
    background-color: var(--logo-color);
    color: white;
    border-radius: 1.2rem;
  }

  & span {
    position: absolute;
    margin: 0.5rem 1rem;
  }

  & input {
    padding-left: 4rem;
  }
}

/******************** CONTENEDOR PRINCIPAL ********************/

.contenedor-principal {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
}

/**************************** SIDEBAR ************************/

.sidebar {
  background-color: var(--light-bg-color);

  & .dropdown-menu {
    transform: translate(2rem, -3rem) !important;
    cursor: pointer;
    user-select: none;
  }

  & .acciones-sidebar {
    cursor: pointer;
  }
}

app-footer-menu {
  background-color: var(--light-bg-color);
  /* background-color: transparent; */
  border-top: .1rem solid var(--border-light-color);
}

/***** ESPACIO PARA FOOTER MENU ****/

@media only screen and (max-width: 939px) {

  app-estadistica section {
    /* height: calc(100% + 8rem); */
    flex-grow: 1;
    padding-bottom: 9rem;
  }

  mat-paginator {
    margin-bottom: 9rem;
  }

}

@media only screen and (max-width: 939px) {
  app-sidebar,
  .sidebar {
    display: none;
  }

  app-footer-menu {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    max-height: 8rem;
    width: 100%;
    justify-content: space-between;

    & ul {
      display: flex;
      justify-content: space-around;
    }
  }

  app-footer-menu i {
    font-size: 4rem;
    &:hover {
      background-color: var(--accent-bg-color);
    }
  }

  .hidden-1399 {
    display: none;
  }
}

@media only screen and (min-width: 940px) {
  app-sidebar {
    overflow: hidden;
    display: flex;
    min-width: 7.2rem;
  }

  .sidebar {
    display: flex;
    width: 7.2rem;
    padding: 2rem 1.4rem;
  }

  .hidden-1399 {
    display: none;
  }

  app-footer-menu {
    display: none;
  }
}

@media only screen and (min-width: 1400px) {
  app-sidebar {
    overflow: hidden;
    display: flex;
    min-width: 30rem;
  }

  .sidebar {
    display: flex;
    width: 30rem;
    padding: 2rem 1.6rem;
  }

  .hidden-1399 {
    display: inline;
  }

  app-footer-menu {
    display: none;
  }
}

.nav-pills {
  --bs-nav-pills-link-active-bg: var(--accent-bg-color);
}

.nav-link {
  font-size: 2.4rem;
  &:hover {
    background-color: var(--accent-bg-color);
  }
}

/**************************** MAIN ************************/

.atras {
  cursor: pointer;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  font-size: 2rem;
  & i {
    font-size: 2.5rem;
    margin-right: 1rem;
  }
}

h1 {
  font-size: 3rem;
}

/* TARJETAS */

.menu-pildoras {
  border: 1px solid var(--border-light-color);
  background-color: var(--light-bg-color);
  border-radius: 2.4rem;

  box-shadow: inset 1px 1px 2px var(--border-light-color);

  /* box-shadow: -1px -2px 3px #ccc; */

  & button {
    border: 1px solid var(--border-light-color);
    border-radius: 2rem !important;
    box-shadow: 1px 1px 2px var(--border-light-color);
  }

  & .active {
    box-shadow: none;
  }
}

/* ESTADISTICAS */

app-estadistica {
  width: 100%;
}

app-estadistica {
  height: 100%;
}

.col {
  margin-bottom: 2rem;
}

canvas {
  max-height: 100%;
}

.card {
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: var(--light-bg-color);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.stat-title {
  font-size: 1.8rem;
}

.stat-number {
  font-size: 3.6rem;
}

.stat-comment {
  font-size: 1.4rem;
}

.stat-success {
  color: var(--success-color);
}

.stat-fail {
  color: var(--fail-color);
}

.chart {
  flex-grow: 1;
  margin-bottom: 2rem;
}

.item-detallado {
  background-color: var(--light-bg-color);
}

.card h1 {
  font-size: 2.4rem;
  font-weight: bolder;
}

.card-body {
  padding: 1rem 0 !important;
  line-height: 1.2;
}

.icono-proyecto {
  font-size: 7rem;
  margin-right: 1rem;
  color: var(--border-light-color);
}

.acciones {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.mostrar-mas {
  border-radius: 4rem;
  background-color: var(--logo-color);
}

/* TABLAS */

th {
  background-color: var(--bs-light-rgb) !important;
  border-top: 1px solid var(--border-light-color);
  font-weight: 500;
  font-size: 2rem;
  padding: 2rem !important;
}

td {
  padding: 2rem !important;
  font-size: 2rem;
  cursor: pointer;
}

.ok {
  color: var(--success-color);
}

.ko {
  color: var(--fail-color);
}

/********************* FORMS ********************************/

.filtro {
  border: 1px solid var(--border-light-color);
  background-color: var(--light-bg-color);
  margin-bottom: 6rem;
}

.btn-nuevo {
  background-color: var(--logo-color);
  color: white;
  &:hover,
  &:active {
    color: white !important;
    background-color: var(--logo-color) !important;
  }
  padding: 1rem;
  font-size: 1.6rem !important;
}

form,
.form-control,
.btn {
  font-size: 2rem;
}

form input + div,
form select + div {
  height: 3rem;
}

/* Columnas angular material */

.mat-mdc-row:hover {
  background-color: var(--accent-bg-color) !important;
}

.mat-mdc-row:nth-child(odd) {
  background-color: #fafafa;
}
.mat-mdc-row:nth-child(even) {
  background-color: white;
}

.mat-mdc-header-cell {
  background-color: #828282 !important;
  color: white !important;
  font-weight: 600;
  svg {
    color: white !important;
  }
}

mat-paginator, mat-select, mat-option, .mat-mdc-select-value-text {
  font-size: 1.6rem !important;
}

.toast-wrapper {
  bottom: 20%;
  z-index: 2000;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-self: end;
}

/* Tarjeta base */
.toast-card {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 90%;
  max-width: 420px;

  padding: 1rem 1.5rem;
  border-radius: 12px;

  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  border-left: 4px solid transparent;

  animation: toastFly 0.3s ease-out;
}

/* Icono */
.toast-icon i {
  font-size: 1.6rem;
}

/* Texto */
.toast-text {
  font-size: 2rem;
  color: black;
}

/* Bordes laterales según tipo */
.toast-success {
  border-left-color: var(--success-color);
}
.toast-error {
  border-left-color: var(--fail-color);
}

/* Animación tipo Svelte fly */
@keyframes toastFly {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
