/* You can add global styles to this file, and also import other style files */

@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";


body {
  --bs-body-font-family: Inter, var(--bs-font-sans-serif);
}

app-root {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
}

app-toast {
  position: fixed;
  top: 50px;
  right: 10px;
  margin: .5em;
  z-index: 1200;
}

h1 {
  font-size: 3rem;
  margin-bottom: 4rem;
}

th {
  background-color: rgba(var(--bs-light-rgb), 1) !important;
  border-top: 1px solid #D6D5DC;
  font-weight: 500;
  font-size: 2rem;
  padding: 2rem !important;
}

td {
  padding: 2rem !important;
  font-size: 2rem;
  cursor: pointer;
}

app-sidebar{
  width: 350px;
}

.layout {
  display: flex;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
}

#sidebar {
  display: flex;
  position: fixed;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  width: 350px;
}

/* Content ocupa el resto */
.content {
  flex-grow: 1;
  padding: 4rem 3rem;
  margin-left: 350px;
  min-width: calc(100% - 350px);
}

.nav-pills {
  --bs-nav-pills-link-active-bg: #C1CBFD;
}

.nav-link {
  font-size: 1.8rem;
  &:hover {
    background-color: #C1CBFD;
  }
}

.nav-link i {
  font-size: 2rem;
}

.ok {
  color:#75D193;
}