<!-- FOOTER MENU -->


    <ul class="nav nav-pills mt-2 w-100">
      <li class="nav-item my-2">
        <a [routerLink]="['/']" class="nav-link link-dark"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-speedometer2"></i>
        </a>
      </li>
      @if (role() !== 'tester') {
      <li class="nav-item my-2">
        <a [routerLink]="['/usuario']" class="nav-link link-dark"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-person-circle"></i>
        </a>
      </li>
      }
      <li class="nav-item my-2">
        <a [routerLink]="['/proyecto']" class="nav-link link-dark" class="nav-link link-dark"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-grid"></i>
        </a>

      <li class="nav-item my-2">
        <a [routerLink]="['/prueba']" class="nav-link link-dark"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-flask"></i>
        </a>
      </li>
      <li class="nav-item my-2">
        <a [routerLink]="['/estadistica']" class="nav-link link-dark"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-graph-up"></i>
        </a>
      </li>
      <li class="nav-item my-2 dropdown">
        <a class="nav-link link-dark dropdown-toggle" data-bs-toggle="dropdown">
          @if (usuarioGravatar) {
            
            <img class="rounded-5" src="{{ this.usuarioGravatar }}50" alt="avatar" width="50" height="50">
          } @else {
            <i class="bi bi-person-fill"></i>
          }
          
          @if (usuarioNombre) { <!-- Comprueba que está almacenado lo ha cargado de LocalStorage -->
            <strong class="hidden-1399 ps-1">
              {{ usuarioNombre }}
            </strong>
          }
        </a>
        <ul class="dropdown-menu p-1">
          @if (usuarioNombre) { <!-- Comprueba que está almacenado lo ha cargado de LocalStorage -->
            <li>
              <i class="bi bi-person-fill ps-2 fs-3"></i>
              <strong class="ps-1 fs-3">
                {{ usuarioNombre }}
              </strong>
            </li>
          }
          <li>
            <span (click)="logout()" class="ps-1 fs-3 link-danger" title="Salir de TestLab">
              <i class="bi bi-box-arrow-left me-2 fs-3 link-danger"></i> 
              <strong>Salir</strong>
            </span>
          </li>
        </ul>
      </li>
    </ul>
