<div id="formWrapper" class="d-flex m-auto p-5 border">

  <form id="formLogin" [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="d-flex flex-column p-3">
    <div class="d-flex justify-content-center mb-5">
      <img src="img/testlab-logo.png" class="mb-4">
    </div>
    <div class="mb-4" [class.was-validated]="this.formLogin.get('email')?.dirty || this.formLogin.get('email')?.touched">
      <span>
        <i class="bi bi-person-fill"></i>
      </span>
      <input id="email" name="email" type="email" class="form-control" formControlName="email" [class.invalid]="this.formLogin.get('email')?.invalid">
      <div>
        @if (
              this.formLogin.get('email')?.invalid && 
              (this.formLogin.get('email')?.dirty || this.formLogin.get('email')?.touched)
            ) 
        {
          <div class="alert alert-danger fs-4 py-2">
            Correo no válido
          </div>
        }
      </div>
    </div>
    <div class="mb-4" [class.was-validated]="this.formLogin.get('password')?.dirty || this.formLogin.get('password')?.touched">
      <span>
        <i class="bi bi-lock-fill"></i>
      </span>
      <input type="password" name="password" class="form-control" formControlName="password">
      <div>
        @if (
              this.formLogin.get('password')?.invalid && 
              (this.formLogin.get('password')?.dirty || this.formLogin.get('password')?.touched)
            ) 
        {
          <div class="alert alert-danger fs-4 py-2">
            Contraseña no válida
          </div>
        }
      </div>
    </div>
    <button type="submit" class="btn w-100 p-3 mt-3" [disabled]="formLogin.invalid">Iniciar sesión</button>
    @if (error) {
      <div class="text-danger mt-2">{{ error }}</div>
    }
    
  </form>
</div>