<input id="filtro" type="text" name="filtro" [(ngModel)]="filtro" placeholder="Buscar proyecto" class="filtro rounded-3 ps-4 py-2">

<div class="d-flex justify-content-between mb-5">
  <h1>Proyectos</h1>
  @if (puedeCrearProyecto()) {
  <button type="button"
          class="btn btn-nuevo"
          data-bs-toggle="modal"
          data-bs-target="#detalleModal"
          (click)="abrirNuevoProyecto()">
    <i class="bi bi-plus-lg"></i> Nuevo proyecto
  </button>
  }
</div>



<app-listado [(itemSelId)]="this.proyectoSelId"
  [cabeceras]="['Proyecto', 'Descripción', 'Estado']" 
  [datos]="this.proyectosFiltrados"
  [atributos]="['name', 'description', 'status']"
  [abrirModal]="false">
  
</app-listado>

<app-modal-detail [title]="'Nuevo proyecto'">
  @if (nuevoProject) {
    <app-proyecto-new [(listado)]="this.proyectos" (listadoChange)="listadoChange($event)"></app-proyecto-new>
  }
</app-modal-detail>
<app-loading [show]="_spinnerService.loading()"></app-loading>
